body {
    background-color: rgb(236, 162, 212);
}

h1 {
    text-align: center;
}

hr {
    border: 2px solid rgb(170, 239, 10);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-img {
    width: 200px;
    height: 200px;
}

.about-heading {
    color: red;
}

.about-text {
    color: blue;
}